.elementor-211 .elementor-element.elementor-element-2d90c9d7{margin-top:0px;margin-bottom:140px;}.elementor-211 .elementor-element.elementor-element-84345c4:not(.elementor-motion-effects-element-type-background), .elementor-211 .elementor-element.elementor-element-84345c4 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#1D1D1B;}.elementor-211 .elementor-element.elementor-element-84345c4{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-211 .elementor-element.elementor-element-84345c4 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-211 .elementor-element.elementor-element-776e05c{text-align:center;}.elementor-211 .elementor-element.elementor-element-776e05c .elementor-heading-title{color:#FFFFFF;font-family:"Karla", Sans-serif;font-size:30px;font-weight:700;font-style:normal;}.elementor-211 .elementor-element.elementor-element-a68ab11{text-align:center;color:#BCBCBB;font-family:"Karla", Sans-serif;font-size:20px;font-weight:400;}.elementor-211 .elementor-element.elementor-element-ddb6e54{text-align:center;}.elementor-211 .elementor-element.elementor-element-ddb6e54 .elementor-heading-title{color:#FFFFFF;font-family:"Karla", Sans-serif;font-size:30px;font-weight:700;font-style:normal;}.elementor-211 .elementor-element.elementor-element-2a3c428{text-align:center;color:#BCBCBB;font-family:"Karla", Sans-serif;font-size:20px;font-weight:400;}.elementor-211 .elementor-element.elementor-element-9da2db4{text-align:center;}.elementor-211 .elementor-element.elementor-element-9da2db4 .elementor-heading-title{color:#FFFFFF;font-family:"Karla", Sans-serif;font-size:30px;font-weight:700;font-style:normal;}.elementor-211 .elementor-element.elementor-element-6a1ed49{text-align:center;color:#BCBCBB;font-family:"Karla", Sans-serif;font-size:20px;font-weight:400;}.elementor-211 .elementor-element.elementor-element-2bffcc7a:not(.elementor-motion-effects-element-type-background), .elementor-211 .elementor-element.elementor-element-2bffcc7a > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#1D1D1B;}.elementor-211 .elementor-element.elementor-element-2bffcc7a{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:60px 0px 60px 0px;}.elementor-211 .elementor-element.elementor-element-2bffcc7a > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-211 .elementor-element.elementor-element-5ab4bca9.elementor-column .elementor-widget-wrap{align-items:flex-start;}.elementor-211 .elementor-element.elementor-element-5ab4bca9.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-start;align-items:flex-start;}.elementor-211 .elementor-element.elementor-element-6ef59389 .elementor-heading-title{color:#ffffff;font-family:"Karla", Sans-serif;font-size:25px;font-weight:400;font-style:normal;}.elementor-211 .elementor-element.elementor-element-70f4ace{color:#BCBCBB;font-family:"Karla", Sans-serif;font-weight:400;}.elementor-bc-flex-widget .elementor-211 .elementor-element.elementor-element-9a7ebc3.elementor-column .elementor-widget-wrap{align-items:flex-start;}.elementor-211 .elementor-element.elementor-element-9a7ebc3.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-start;align-items:flex-start;}.elementor-211 .elementor-element.elementor-element-af636f2 .elementor-heading-title{color:#ffffff;font-family:"Karla", Sans-serif;font-size:25px;font-weight:400;font-style:normal;}.elementor-211 .elementor-element.elementor-element-af12cf2{color:#BCBCBB;font-family:"Karla", Sans-serif;font-weight:400;}.elementor-bc-flex-widget .elementor-211 .elementor-element.elementor-element-7781da48.elementor-column .elementor-widget-wrap{align-items:flex-start;}.elementor-211 .elementor-element.elementor-element-7781da48.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-start;align-items:flex-start;}.elementor-211 .elementor-element.elementor-element-425343b3 .elementor-heading-title{color:#ffffff;font-family:"Karla", Sans-serif;font-size:25px;font-weight:400;font-style:normal;}.elementor-211 .elementor-element.elementor-element-57179f4{color:#BCBCBB;font-family:"Karla", Sans-serif;font-weight:400;}.elementor-bc-flex-widget .elementor-211 .elementor-element.elementor-element-213eec24.elementor-column .elementor-widget-wrap{align-items:flex-start;}.elementor-211 .elementor-element.elementor-element-213eec24.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-start;align-items:flex-start;}.elementor-211 .elementor-element.elementor-element-5a5cbf26 .elementor-heading-title{color:#ffffff;font-family:"Karla", Sans-serif;font-size:25px;font-weight:400;font-style:normal;}.elementor-211 .elementor-element.elementor-element-787dc7b{color:#BCBCBB;font-family:"Karla", Sans-serif;font-weight:400;}.elementor-bc-flex-widget .elementor-211 .elementor-element.elementor-element-1100ba38.elementor-column .elementor-widget-wrap{align-items:flex-start;}.elementor-211 .elementor-element.elementor-element-1100ba38.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-start;align-items:flex-start;}.elementor-211 .elementor-element.elementor-element-74023ca6 .elementor-heading-title{color:#ffffff;font-family:"Karla", Sans-serif;font-size:25px;font-weight:400;font-style:normal;}.elementor-211 .elementor-element.elementor-element-0ffb9d6 .elementor-repeater-item-5d80d70.elementor-social-icon{background-color:#02010100;}.elementor-211 .elementor-element.elementor-element-0ffb9d6 .elementor-repeater-item-5d80d70.elementor-social-icon i{color:#02010100;}.elementor-211 .elementor-element.elementor-element-0ffb9d6 .elementor-repeater-item-5d80d70.elementor-social-icon svg{fill:#02010100;}.elementor-211 .elementor-element.elementor-element-0ffb9d6 .elementor-repeater-item-16c11db.elementor-social-icon{background-color:#02010100;}.elementor-211 .elementor-element.elementor-element-0ffb9d6 .elementor-repeater-item-16c11db.elementor-social-icon i{color:#02010100;}.elementor-211 .elementor-element.elementor-element-0ffb9d6 .elementor-repeater-item-16c11db.elementor-social-icon svg{fill:#02010100;}.elementor-211 .elementor-element.elementor-element-0ffb9d6 .elementor-repeater-item-816983b.elementor-social-icon{background-color:#02010100;}.elementor-211 .elementor-element.elementor-element-0ffb9d6 .elementor-repeater-item-816983b.elementor-social-icon i{color:#02010100;}.elementor-211 .elementor-element.elementor-element-0ffb9d6 .elementor-repeater-item-816983b.elementor-social-icon svg{fill:#02010100;}.elementor-211 .elementor-element.elementor-element-0ffb9d6 .elementor-repeater-item-481b188.elementor-social-icon{background-color:#02010100;}.elementor-211 .elementor-element.elementor-element-0ffb9d6 .elementor-repeater-item-481b188.elementor-social-icon i{color:#02010100;}.elementor-211 .elementor-element.elementor-element-0ffb9d6 .elementor-repeater-item-481b188.elementor-social-icon svg{fill:#02010100;}.elementor-211 .elementor-element.elementor-element-0ffb9d6{--grid-template-columns:repeat(0, auto);--grid-column-gap:5px;--grid-row-gap:0px;}.elementor-211 .elementor-element.elementor-element-0ffb9d6 .elementor-widget-container{text-align:left;}.elementor-211 .elementor-element.elementor-element-5e63e6a .elementor-heading-title{color:#ffffff;font-family:"Karla", Sans-serif;font-size:25px;font-weight:400;font-style:normal;}.elementor-211 .elementor-element.elementor-element-5e63e6a > .elementor-widget-container{margin:040px 0px 0px 0px;}.elementor-211 .elementor-element.elementor-element-5d115db > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-211 .elementor-element.elementor-element-df48094{color:#BCBCBB;font-family:"Karla", Sans-serif;font-weight:400;}.elementor-211 .elementor-element.elementor-element-3917f13:not(.elementor-motion-effects-element-type-background), .elementor-211 .elementor-element.elementor-element-3917f13 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FCE14A;}.elementor-211 .elementor-element.elementor-element-3917f13{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-211 .elementor-element.elementor-element-3917f13 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-211 .elementor-element.elementor-element-52bc7a3.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-211 .elementor-element.elementor-element-52bc7a3.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-211 .elementor-element.elementor-element-e178c9b{text-align:left;}.elementor-211 .elementor-element.elementor-element-e178c9b .elementor-heading-title{color:#1D1D1B;font-family:"Karla", Sans-serif;font-size:15px;font-weight:400;font-style:normal;}.elementor-211 .elementor-element.elementor-element-8ade123{text-align:right;font-family:"Karla", Sans-serif;font-size:15px;font-weight:400;}@media(max-width:1024px) and (min-width:768px){.elementor-211 .elementor-element.elementor-element-5ab4bca9{width:33%;}.elementor-211 .elementor-element.elementor-element-9a7ebc3{width:33%;}.elementor-211 .elementor-element.elementor-element-7781da48{width:33%;}.elementor-211 .elementor-element.elementor-element-213eec24{width:33%;}.elementor-211 .elementor-element.elementor-element-1100ba38{width:100%;}}@media(max-width:1024px){.elementor-211 .elementor-element.elementor-element-2bffcc7a{padding:50px 20px 50px 20px;}.elementor-211 .elementor-element.elementor-element-5ab4bca9 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-211 .elementor-element.elementor-element-9a7ebc3 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-211 .elementor-element.elementor-element-1100ba38 > .elementor-element-populated{margin:40px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}}@media(max-width:767px){.elementor-211 .elementor-element.elementor-element-2d90c9d7{margin-top:0px;margin-bottom:50px;}.elementor-211 .elementor-element.elementor-element-db04b0e{margin-top:0px;margin-bottom:-2px;}.elementor-211 .elementor-element.elementor-element-2bffcc7a{padding:40px 15px 40px 15px;}.elementor-211 .elementor-element.elementor-element-1100ba38 > .elementor-element-populated{margin:40px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-211 .elementor-element.elementor-element-e178c9b{text-align:center;}}/* Start custom CSS for html, class: .elementor-element-61fda895 */.subscribe-section{
    width: 100%;
    margin-top: 200px;
}
.subscribe-container{
    width: 100%;
    max-width: 1630px;
    margin: 0 auto;
    border-radius: 60px;
    background: rgb(252,225,74);
    background: linear-gradient(180deg, rgba(252,225,74,1) 0%, rgba(223,189,0,1) 100%);
    padding: 80px 70px;
    position: relative;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.07);
}
.subscribe-text{
    display: flex;
    flex-direction: column;
    max-width: 600px;
}
.subscribe-text h4{
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 35px;
}
.subscribe-text p{
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 30px;
    color: #1D1D1B;
}
.subscribe-text a{
    width: 175px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 40px;
    justify-content: center;
    background-color: #1D1D1B;
    font-size: 15px;
    color: #F0F0F0;
}
.subscribe-text a:hover{
    color: rgba(252,225,74,1);
}
.subscribe-image{
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.subscribe-image img{
    display: block;
}


@media only screen and (max-width: 1400px){
    .subscribe-image img{
        max-width: 70%;
        margin-left: auto;
    }
}

@media only screen and (max-width: 1100px){
    .subscribe-image img{
        max-width: 60%;
        margin-left: auto;
        transform: translateX(10%);
    }
}

@media only screen and (max-width: 600px){
    .subscribe-section {
        margin-top: 60px;
    }
    
    .subscribe-container{
        padding: 20px 25px 180px;
        border-radius: 15px;
    }
    
    .subscribe-image img{
        max-width: 100%;
        margin-left: auto;
        transform: translateX(0);
    }
}

































/**//* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-b7f78e5 */@media only screen and (max-width: 600px){
    .elementor-211 .elementor-element.elementor-element-b7f78e5{
        margin-bottom: 9px;
    }
    .elementor-211 .elementor-element.elementor-element-b7f78e5 img{
        max-width: 60px;
    }
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-776e05c */@media only screen and (max-width: 600px){
    .elementor-211 .elementor-element.elementor-element-776e05c h4{
        font-size: 20px!important;
    }
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-a68ab11 */@media only screen and (max-width: 600px){
    .elementor-211 .elementor-element.elementor-element-a68ab11 p{
        font-size: 15px!important;
    }
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-5e88b88 */@media only screen and (max-width: 600px){
    .elementor-211 .elementor-element.elementor-element-5e88b88{
        margin-bottom: 9px;
    }
    .elementor-211 .elementor-element.elementor-element-5e88b88 img{
        max-width: 60px;
    }
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-ddb6e54 */@media only screen and (max-width: 600px){
    .elementor-211 .elementor-element.elementor-element-ddb6e54 h4{
        font-size: 20px!important;
    }
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-2a3c428 */@media only screen and (max-width: 600px){
    .elementor-211 .elementor-element.elementor-element-2a3c428 p{
        font-size: 15px!important;
    }
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-1b2ab2b */@media only screen and (max-width: 600px){
    .elementor-211 .elementor-element.elementor-element-1b2ab2b{
        margin-bottom: 0;
    }
    .elementor-211 .elementor-element.elementor-element-1b2ab2b img{
        max-width: 75px;
    }
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-9da2db4 */@media only screen and (max-width: 600px){
    .elementor-211 .elementor-element.elementor-element-9da2db4 h4{
        font-size: 20px!important;
    }
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-6a1ed49 */@media only screen and (max-width: 600px){
    .elementor-211 .elementor-element.elementor-element-6a1ed49 p{
        font-size: 15px!important;
    }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-84345c4 */.elementor-211 .elementor-element.elementor-element-84345c4 img{
    min-height: 82px;
}

.elementor-211 .elementor-element.elementor-element-84345c4 p{
    max-width: 300px;
    margin: 0 auto;
    line-height: 1.4;
}

.elementor-211 .elementor-element.elementor-element-84345c4 .elementor-widget-heading{
    margin-bottom: 10px;
}

.elementor-211 .elementor-element.elementor-element-84345c4 .elementor-element-23f8aff{
    border-left: 1px solid #505050;
    border-right: 1px solid #505050;
}

.elementor-211 .elementor-element.elementor-element-84345c4 > div{
    border-bottom: 1px solid #505050;
    padding-bottom: 65px;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-70f4ace */.elementor-211 .elementor-element.elementor-element-70f4ace ul{
    list-style: none;
    margin: 0;
}

.elementor-211 .elementor-element.elementor-element-70f4ace ul a{
    color: #BCBCBB;
    transition: color .3s ease;
}

.elementor-211 .elementor-element.elementor-element-70f4ace ul a:hover{
    color: #FCE14A;
}














/**//* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-af12cf2 */.elementor-211 .elementor-element.elementor-element-af12cf2 ul{
    list-style: none;
    margin: 0;
}

.elementor-211 .elementor-element.elementor-element-af12cf2 ul a{
    color: #BCBCBB;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-57179f4 */.elementor-211 .elementor-element.elementor-element-57179f4 ul{
    list-style: none;
    margin: 0;
}

.elementor-211 .elementor-element.elementor-element-57179f4 ul a{
    color: #BCBCBB;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-787dc7b */.elementor-211 .elementor-element.elementor-element-787dc7b ul{
    list-style: none;
    margin: 0;
}

.elementor-211 .elementor-element.elementor-element-787dc7b ul a{
    color: #BCBCBB;
}/* End custom CSS */
/* Start custom CSS for social-icons, class: .elementor-element-0ffb9d6 */.elementor-211 .elementor-element.elementor-element-0ffb9d6 .elementor-social-icons-wrapper{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.elementor-211 .elementor-element.elementor-element-0ffb9d6 .elementor-icon.elementor-social-icon{
    font-size: 35px;
    width: auto;
    height: auto;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-5d115db */.payment{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px 0;
}

.payment img:nth-of-type(even){
    margin-left: 16px;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-df48094 */.elementor-211 .elementor-element.elementor-element-df48094 ul{
    list-style: none;
    margin: 0;
}

.elementor-211 .elementor-element.elementor-element-df48094 ul a{
    color: #BCBCBB;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-2bffcc7a */.elementor-211 .elementor-element.elementor-element-2bffcc7a ul a{
    color: #BCBCBB;
    transition: color .3s ease;
}

.elementor-211 .elementor-element.elementor-element-2bffcc7a ul a:hover{
    color: #FCE14A;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-23fb8ba */@media only screen and (min-width: 600px){
    .elementor-211 .elementor-element.elementor-element-23fb8ba .elementor-widget-container{
        position: absolute;
        max-width: 180px;
        transform: translateX(-50%);
        left: 50%;
        top: -45px;
    }
    
    .elementor-211 .elementor-element.elementor-element-23fb8ba a img[src$=".svg"]{
        width: 100%;
    }
}

@media only screen and (max-width: 600px){
    .elementor-211 .elementor-element.elementor-element-23fb8ba a img[src$=".svg"]{
        max-width: 120px;
        width: auto;
    }
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-8ade123 */.elementor-211 .elementor-element.elementor-element-8ade123 p{
    margin-bottom: 0;
}

.elementor-211 .elementor-element.elementor-element-8ade123 p a{
    color: #1D1D1B;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-3917f13 */@media only screen and (max-width: 600px){
    .elementor-211 .elementor-element.elementor-element-3917f13{
        padding-top: 20px;
    }
    
    .elementor-211 .elementor-element.elementor-element-3917f13 > div > div{
        width: 50%;
    }
    
    .elementor-211 .elementor-element.elementor-element-3917f13 > div > div:nth-child(2){
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -82%);
    }
}/* End custom CSS */