.elementor-992 .elementor-element.elementor-element-5e036b8:not(.elementor-motion-effects-element-type-background), .elementor-992 .elementor-element.elementor-element-5e036b8 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FCE14A;}.elementor-992 .elementor-element.elementor-element-5e036b8{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-992 .elementor-element.elementor-element-5e036b8 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-992 .elementor-element.elementor-element-73991f6{text-align:center;}.elementor-992 .elementor-element.elementor-element-c63efc4{text-align:right;}.elementor-992 .elementor-element.elementor-element-47f029c:not(.elementor-motion-effects-element-type-background), .elementor-992 .elementor-element.elementor-element-47f029c > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-992 .elementor-element.elementor-element-47f029c{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-992 .elementor-element.elementor-element-47f029c > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-992 .elementor-element.elementor-element-39b5534.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-992 .elementor-element.elementor-element-39b5534.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-992 .elementor-element.elementor-element-39b5534.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-992 .elementor-element.elementor-element-51b5c82 .elementor-button{font-family:"Karla", Sans-serif;font-size:15px;font-weight:900;fill:#1D1D1B;color:#1D1D1B;background-color:#FFFFFF;border-style:solid;border-width:1px 1px 1px 1px;border-color:#1D1D1B;border-radius:999px 999px 999px 999px;padding:15px 35px 15px 35px;}.elementor-992 .elementor-element.elementor-element-51b5c82 .elementor-button:hover, .elementor-992 .elementor-element.elementor-element-51b5c82 .elementor-button:focus{background-color:#E6E6E6;}.elementor-992 .elementor-element.elementor-element-8bbf776 > .elementor-widget-container{margin:0px 0px -30px 0px;}.elementor-bc-flex-widget .elementor-992 .elementor-element.elementor-element-6e95a60.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-992 .elementor-element.elementor-element-6e95a60.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-992 .elementor-element.elementor-element-3d8b097{--main-alignment:right;--divider-style:solid;--subtotal-divider-style:solid;--elementor-remove-from-cart-button:none;--remove-from-cart-button:block;--toggle-button-icon-color:#1D1D1B;--toggle-button-border-width:0px;--toggle-icon-size:34px;--cart-border-style:none;--cart-close-button-color:#1D1D1B;--product-price-color:#1D1D1B;--cart-footer-layout:1fr;--products-max-height-sidecart:calc(100vh - 300px);--products-max-height-minicart:calc(100vh - 450px);--view-cart-button-text-color:#1D1D1B;--view-cart-button-background-color:#FCE14A;--view-cart-button-hover-text-color:#FCE14A;--view-cart-button-hover-background-color:#1D1D1B;--checkout-button-text-color:#FCE14A;--checkout-button-background-color:#1D1D1B;--checkout-button-hover-text-color:#1D1D1B;--checkout-button-hover-background-color:#FCE14A;}.elementor-992 .elementor-element.elementor-element-3d8b097 .widget_shopping_cart_content{--subtotal-divider-left-width:0;--subtotal-divider-right-width:0;}.elementor-992 .elementor-element.elementor-element-3d8b097 .elementor-menu-cart__product-name a{font-family:"Karla", Sans-serif;font-size:22px;font-weight:700;font-style:normal;line-height:28px;}.elementor-992 .elementor-element.elementor-element-3d8b097 .elementor-menu-cart__product-price{font-family:"Karla", Sans-serif;font-size:16px;font-weight:400;font-style:italic;}.elementor-992 .elementor-element.elementor-element-3d8b097 .elementor-menu-cart__footer-buttons .elementor-button{font-family:"Karla", Sans-serif;font-size:22px;font-weight:700;font-style:normal;}.elementor-992 .elementor-element.elementor-element-3d8b097 .elementor-menu-cart__footer-buttons a.elementor-button--view-cart{font-family:"Karla", Sans-serif;font-size:22px;font-weight:700;font-style:normal;}.elementor-992 .elementor-element.elementor-element-3d8b097 .elementor-menu-cart__footer-buttons a.elementor-button--checkout{font-family:"Karla", Sans-serif;font-size:22px;font-weight:700;font-style:normal;}.elementor-992 .elementor-element.elementor-element-3d8b097 .woocommerce-mini-cart__empty-message{font-family:"Karla", Sans-serif;font-size:35px;font-weight:900;font-style:italic;line-height:39px;}.elementor-992 .elementor-element.elementor-element-6cd15bc{text-align:right;}.elementor-992 .elementor-element.elementor-element-6cd15bc img{width:30px;}.elementor-992 .elementor-element.elementor-element-6cd15bc:hover img{opacity:0.85;}.elementor-992 .elementor-element.elementor-element-cb0621e .elementor-search-form{text-align:right;}.elementor-992 .elementor-element.elementor-element-cb0621e .elementor-search-form__toggle{--e-search-form-toggle-size:35px;}.elementor-992 .elementor-element.elementor-element-cb0621e:not(.elementor-search-form--skin-full_screen) .elementor-search-form__container{border-radius:3px;}.elementor-992 .elementor-element.elementor-element-cb0621e.elementor-search-form--skin-full_screen input[type="search"].elementor-search-form__input{border-radius:3px;}.elementor-992 .elementor-element.elementor-element-05a8187:not(.elementor-motion-effects-element-type-background), .elementor-992 .elementor-element.elementor-element-05a8187 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-992 .elementor-element.elementor-element-05a8187{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-992 .elementor-element.elementor-element-05a8187 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-992 .elementor-element.elementor-element-66389f7 .elementor-menu-toggle{margin:0 auto;background-color:rgba(0,0,0,0);}.elementor-992 .elementor-element.elementor-element-66389f7 .elementor-nav-menu .elementor-item{font-family:"Karla", Sans-serif;font-size:18px;font-weight:400;font-style:normal;}.elementor-992 .elementor-element.elementor-element-66389f7 .elementor-nav-menu--main .elementor-item{color:#1D1D1B;fill:#1D1D1B;padding-left:41px;padding-right:41px;padding-top:16px;padding-bottom:16px;}.elementor-992 .elementor-element.elementor-element-66389f7 .elementor-nav-menu--main .elementor-item:hover,
					.elementor-992 .elementor-element.elementor-element-66389f7 .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-992 .elementor-element.elementor-element-66389f7 .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-992 .elementor-element.elementor-element-66389f7 .elementor-nav-menu--main .elementor-item:focus{color:var( --e-global-color-accent );fill:var( --e-global-color-accent );}.elementor-992 .elementor-element.elementor-element-66389f7 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
					.elementor-992 .elementor-element.elementor-element-66389f7 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after{background-color:#FCE14A00;}.elementor-992 .elementor-element.elementor-element-66389f7 .e--pointer-framed .elementor-item:before,
					.elementor-992 .elementor-element.elementor-element-66389f7 .e--pointer-framed .elementor-item:after{border-color:#FCE14A00;}.elementor-992 .elementor-element.elementor-element-66389f7 div.elementor-menu-toggle{color:#000000;}.elementor-992 .elementor-element.elementor-element-66389f7 div.elementor-menu-toggle svg{fill:#000000;}.elementor-992 .elementor-element.elementor-element-66389f7 > .elementor-widget-container{border-style:solid;border-width:1px 0px 0px 0px;border-color:#8D8D8C;}.elementor-992 .elementor-element.elementor-element-161f4e9:not(.elementor-motion-effects-element-type-background), .elementor-992 .elementor-element.elementor-element-161f4e9 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-992 .elementor-element.elementor-element-161f4e9{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-992 .elementor-element.elementor-element-161f4e9 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-992 .elementor-element.elementor-element-b7ebf6e .elementor-menu-toggle{margin-right:auto;background-color:rgba(0,0,0,0);}.elementor-992 .elementor-element.elementor-element-b7ebf6e .elementor-nav-menu .elementor-item{font-family:"Karla", Sans-serif;font-size:18px;font-weight:400;font-style:normal;}.elementor-992 .elementor-element.elementor-element-b7ebf6e .elementor-nav-menu--main .elementor-item{color:#1D1D1B;fill:#1D1D1B;padding-left:41px;padding-right:41px;padding-top:16px;padding-bottom:16px;}.elementor-992 .elementor-element.elementor-element-b7ebf6e .elementor-nav-menu--main .elementor-item:hover,
					.elementor-992 .elementor-element.elementor-element-b7ebf6e .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-992 .elementor-element.elementor-element-b7ebf6e .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-992 .elementor-element.elementor-element-b7ebf6e .elementor-nav-menu--main .elementor-item:focus{color:var( --e-global-color-accent );fill:var( --e-global-color-accent );}.elementor-992 .elementor-element.elementor-element-b7ebf6e .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
					.elementor-992 .elementor-element.elementor-element-b7ebf6e .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after{background-color:#FCE14A00;}.elementor-992 .elementor-element.elementor-element-b7ebf6e .e--pointer-framed .elementor-item:before,
					.elementor-992 .elementor-element.elementor-element-b7ebf6e .e--pointer-framed .elementor-item:after{border-color:#FCE14A00;}.elementor-992 .elementor-element.elementor-element-b7ebf6e div.elementor-menu-toggle{color:#000000;}.elementor-992 .elementor-element.elementor-element-b7ebf6e div.elementor-menu-toggle svg{fill:#000000;}.elementor-992 .elementor-element.elementor-element-b7ebf6e > .elementor-widget-container{border-style:solid;border-width:1px 0px 0px 0px;border-color:#8D8D8C;}.elementor-992 .elementor-element.elementor-element-9ea1b1b > .elementor-widget-container{margin:0px 0px -30px 0px;}.elementor-992 .elementor-element.elementor-element-30875d1{--main-alignment:right;--divider-style:solid;--subtotal-divider-style:solid;--elementor-remove-from-cart-button:none;--remove-from-cart-button:block;--toggle-button-icon-color:#1D1D1B;--toggle-button-border-width:0px;--toggle-icon-size:34px;--cart-border-style:none;--cart-close-button-color:#1D1D1B;--product-price-color:#1D1D1B;--cart-footer-layout:1fr;--products-max-height-sidecart:calc(100vh - 300px);--products-max-height-minicart:calc(100vh - 450px);--view-cart-button-text-color:#1D1D1B;--view-cart-button-background-color:#FCE14A;--view-cart-button-hover-text-color:#FCE14A;--view-cart-button-hover-background-color:#1D1D1B;--checkout-button-text-color:#FCE14A;--checkout-button-background-color:#1D1D1B;--checkout-button-hover-text-color:#1D1D1B;--checkout-button-hover-background-color:#FCE14A;}.elementor-992 .elementor-element.elementor-element-30875d1 .widget_shopping_cart_content{--subtotal-divider-left-width:0;--subtotal-divider-right-width:0;}.elementor-992 .elementor-element.elementor-element-30875d1 .elementor-menu-cart__product-name a{font-family:"Karla", Sans-serif;font-size:22px;font-weight:700;font-style:normal;line-height:28px;}.elementor-992 .elementor-element.elementor-element-30875d1 .elementor-menu-cart__product-price{font-family:"Karla", Sans-serif;font-size:16px;font-weight:400;font-style:italic;}.elementor-992 .elementor-element.elementor-element-30875d1 .elementor-menu-cart__footer-buttons .elementor-button{font-family:"Karla", Sans-serif;font-size:22px;font-weight:700;font-style:normal;}.elementor-992 .elementor-element.elementor-element-30875d1 .elementor-menu-cart__footer-buttons a.elementor-button--view-cart{font-family:"Karla", Sans-serif;font-size:22px;font-weight:700;font-style:normal;}.elementor-992 .elementor-element.elementor-element-30875d1 .elementor-menu-cart__footer-buttons a.elementor-button--checkout{font-family:"Karla", Sans-serif;font-size:22px;font-weight:700;font-style:normal;}.elementor-992 .elementor-element.elementor-element-30875d1 .woocommerce-mini-cart__empty-message{font-family:"Karla", Sans-serif;font-size:35px;font-weight:900;font-style:italic;line-height:39px;}.elementor-992 .elementor-element.elementor-element-435fd4b{text-align:right;}.elementor-992 .elementor-element.elementor-element-435fd4b img{width:30px;}.elementor-992 .elementor-element.elementor-element-435fd4b:hover img{opacity:0.85;}.elementor-992 .elementor-element.elementor-element-f1e1ac7:not(.elementor-motion-effects-element-type-background), .elementor-992 .elementor-element.elementor-element-f1e1ac7 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-992 .elementor-element.elementor-element-f1e1ac7{border-style:solid;border-color:#8D8D8C;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-992 .elementor-element.elementor-element-f1e1ac7 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-992 .elementor-element.elementor-element-2369646 .elementor-search-form__container{min-height:44px;}.elementor-992 .elementor-element.elementor-element-2369646 .elementor-search-form__submit{min-width:44px;}body:not(.rtl) .elementor-992 .elementor-element.elementor-element-2369646 .elementor-search-form__icon{padding-left:calc(44px / 3);}body.rtl .elementor-992 .elementor-element.elementor-element-2369646 .elementor-search-form__icon{padding-right:calc(44px / 3);}.elementor-992 .elementor-element.elementor-element-2369646 .elementor-search-form__input, .elementor-992 .elementor-element.elementor-element-2369646.elementor-search-form--button-type-text .elementor-search-form__submit{padding-left:calc(44px / 3);padding-right:calc(44px / 3);}.elementor-992 .elementor-element.elementor-element-2369646:not(.elementor-search-form--skin-full_screen) .elementor-search-form__container{border-radius:3px;}.elementor-992 .elementor-element.elementor-element-2369646.elementor-search-form--skin-full_screen input[type="search"].elementor-search-form__input{border-radius:3px;}@media(max-width:1024px){.elementor-bc-flex-widget .elementor-992 .elementor-element.elementor-element-67dbe08.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-992 .elementor-element.elementor-element-67dbe08.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-bc-flex-widget .elementor-992 .elementor-element.elementor-element-cd85a6d.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-992 .elementor-element.elementor-element-cd85a6d.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-bc-flex-widget .elementor-992 .elementor-element.elementor-element-c3b6b64.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-992 .elementor-element.elementor-element-c3b6b64.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-992 .elementor-element.elementor-element-f1e1ac7{border-width:1px 0px 0px 0px;}}@media(max-width:767px){.elementor-992 .elementor-element.elementor-element-30875d1{--toggle-icon-size:30px;}.elementor-992 .elementor-element.elementor-element-435fd4b img{width:25px;}}/* Start custom CSS for section, class: .elementor-element-5e036b8 */.elementor-992 .elementor-element.elementor-element-5e036b8 p{
    margin-bottom: 0;
}


@media only screen and (max-width: 1024px){
    .elementor-992 .elementor-element.elementor-element-5e036b8{
        display: none;
    }
}






/**//* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-8bbf776 */.elementor-992 .elementor-element.elementor-element-8bbf776 .elementor-widget-container a img[src$=".svg"]{
    width: auto;
}

.elementor-992 .elementor-element.elementor-element-8bbf776{
    margin-top: -7px;
    padding-bottom: 10px;
}/* End custom CSS */
/* Start custom CSS for woocommerce-menu-cart, class: .elementor-element-3d8b097 */.elementor-992 .elementor-element.elementor-element-3d8b097{
    margin-bottom: 0;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-6cd15bc */.elementor-992 .elementor-element.elementor-element-6cd15bc{
    position: absolute;
    right: 86px;
    top: 34px;
    width: max-content;
}/* End custom CSS */
/* Start custom CSS for search-form, class: .elementor-element-cb0621e */.elementor-992 .elementor-element.elementor-element-cb0621e{
    position: absolute;
    right: 136px;
    top: 34px;
    width: max-content;
}

.elementor-992 .elementor-element.elementor-element-cb0621e i{
    background: transparent;
}

.elementor-992 .elementor-element.elementor-element-cb0621e i::before{
    background: url(http://mania.best/wp-content/uploads/2022/12/Icon-feather-search.svg);
    background-size: cover;
    content: "";
    width: 30px;
    aspect-ratio: 1 / 1;
}

















/**//* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-47f029c */@media only screen and (max-width: 1024px){
    .elementor-992 .elementor-element.elementor-element-47f029c{
        display: none;
    }
}






/**//* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-66389f7 */.elementor-992 .elementor-element.elementor-element-66389f7 .elementor-nav-menu li:first-child a{
    padding-left: 0!important;
}
.elementor-992 .elementor-element.elementor-element-66389f7 .elementor-nav-menu li:last-child a{
    padding-right: 0!important;
}

.elementor-992 .elementor-element.elementor-element-66389f7 .elementor-nav-menu{
    justify-content: space-between;
    width: 100%;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-05a8187 */.elementor-992 .elementor-element.elementor-element-05a8187{
    z-index: 999;
}

.elementor-992 .elementor-element.elementor-element-05a8187 .elementor-widget-wrap{
    padding-bottom: 0;
    padding-top: 0;
}

.elementor-992 .elementor-element.elementor-element-05a8187 ul li:nth-child(8) a{
    color: #FF0000!important;
}


@media only screen and (max-width: 1024px){
    .elementor-992 .elementor-element.elementor-element-05a8187{
        display: none;
    }
}






/**//* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-b7ebf6e */.elementor-992 .elementor-element.elementor-element-b7ebf6e .elementor-widget-container{
    border-width: 0!important;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-9ea1b1b */.elementor-992 .elementor-element.elementor-element-9ea1b1b .elementor-widget-container a img[src$=".svg"]{
    width: 100%;
    max-width: 200px;
}

.elementor-992 .elementor-element.elementor-element-9ea1b1b{
    margin-top: -7px;
    padding-bottom: 10px;
}/* End custom CSS */
/* Start custom CSS for woocommerce-menu-cart, class: .elementor-element-30875d1 */.elementor-992 .elementor-element.elementor-element-30875d1{
    margin-bottom: 0;
}

.elementor-992 .elementor-element.elementor-element-30875d1 a{
    padding-right: 0!important;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-435fd4b */.elementor-992 .elementor-element.elementor-element-435fd4b{
    position: absolute;
    right: 56px;
    top: 29px;
    width: max-content;
}

@media only screen and (max-width: 640px){
    .elementor-992 .elementor-element.elementor-element-435fd4b{
        top: 22px;
    }
}















/**//* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-161f4e9 */.elementor-992 .elementor-element.elementor-element-161f4e9{
    display: none;
}
@media only screen and (max-width: 1024px){
    .elementor-992 .elementor-element.elementor-element-161f4e9{
        display: block;
    }
}

@media only screen and (max-width: 768px){
    .elementor-992 .elementor-element.elementor-element-161f4e9 .elementor-container > div{
        width: 33.333%;
    }
}





/**//* End custom CSS */
/* Start custom CSS for search-form, class: .elementor-element-2369646 */.elementor-992 .elementor-element.elementor-element-2369646 .elementor-search-form__container{
    border-radius: 100px!important;
    background: #E9E9E9!important;
}

.elementor-992 .elementor-element.elementor-element-2369646 i{
    background: transparent;
    width: 25px;
    aspect-ratio: 1 / 1;
    position: relative;
}

.elementor-992 .elementor-element.elementor-element-2369646 button{
    background: #E9E9E9!important;
}

.elementor-992 .elementor-element.elementor-element-2369646 i::before{
    background-image: url(http://mania.best/wp-content/uploads/2022/12/Icon-feather-search.svg);
    background-size: cover;
    content: "";
    width: 25px;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 0;
    left: 0;
}

















/**//* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-f1e1ac7 */.elementor-992 .elementor-element.elementor-element-f1e1ac7{
    display: none;
}
@media only screen and (max-width: 1024px){
    .elementor-992 .elementor-element.elementor-element-f1e1ac7{
        display: block;
    }
}






/**//* End custom CSS */