.elementor-22 .elementor-element.elementor-element-8a56511{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-22 .elementor-element.elementor-element-8a56511 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-22 .elementor-element.elementor-element-92c7da2 .elementor-heading-title{color:#FFFFFF;font-family:"Raleway", Sans-serif;font-size:65px;font-weight:900;font-style:italic;}.elementor-22 .elementor-element.elementor-element-03d8197{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-22 .elementor-element.elementor-element-03d8197 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-22 .elementor-element.elementor-element-046f033 .elementor-heading-title{color:#FFFFFF;font-family:"Raleway", Sans-serif;font-size:65px;font-weight:900;font-style:italic;}.elementor-22 .elementor-element.elementor-element-6792364{margin-top:-150px;margin-bottom:0px;}.elementor-22 .elementor-element.elementor-element-989146c{margin-top:150px;margin-bottom:0px;}.elementor-22 .elementor-element.elementor-element-2323dc5 .elementor-heading-title{color:#1D1D1B;font-family:"Raleway", Sans-serif;font-size:55px;font-weight:900;font-style:italic;}.elementor-22 .elementor-element.elementor-element-2f1b1ea .elementor-button{font-family:"Karla", Sans-serif;font-size:15px;font-weight:900;fill:#1D1D1B;color:#1D1D1B;background-color:#FCE14A;border-radius:999px 999px 999px 999px;padding:20px 40px 20px 40px;}.elementor-22 .elementor-element.elementor-element-2f1b1ea .elementor-button:hover, .elementor-22 .elementor-element.elementor-element-2f1b1ea .elementor-button:focus{color:#FCE14A;background-color:#1D1D1B;}.elementor-22 .elementor-element.elementor-element-2f1b1ea .elementor-button:hover svg, .elementor-22 .elementor-element.elementor-element-2f1b1ea .elementor-button:focus svg{fill:#FCE14A;}.elementor-22 .elementor-element.elementor-element-2f1b1ea > .elementor-widget-container{margin:-90px 0px 60px 0px;}.elementor-22 .elementor-element.elementor-element-41c9b85 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.52 * 100% );}.elementor-22 .elementor-element.elementor-element-41c9b85:after{content:"0.52";}.elementor-22 .elementor-element.elementor-element-41c9b85 .elementor-post__meta-data span + span:before{content:"•";}.elementor-22 .elementor-element.elementor-element-41c9b85{--grid-column-gap:30px;--grid-row-gap:35px;}.elementor-22 .elementor-element.elementor-element-41c9b85 .elementor-post__text{margin-top:20px;}.elementor-22 .elementor-element.elementor-element-41c9b85 .elementor-post__title, .elementor-22 .elementor-element.elementor-element-41c9b85 .elementor-post__title a{color:#000000;font-family:"Karla", Sans-serif;font-size:30px;font-weight:800;text-transform:none;font-style:normal;text-decoration:none;line-height:32px;}.elementor-22 .elementor-element.elementor-element-41c9b85 .elementor-post__excerpt p{color:#303030;font-family:"Karla", Sans-serif;font-size:16px;font-weight:400;}.elementor-22 .elementor-element.elementor-element-41c9b85 .elementor-post__read-more{color:#1D1D1B;}.elementor-22 .elementor-element.elementor-element-41c9b85 a.elementor-post__read-more{font-family:"Karla", Sans-serif;font-size:15px;font-weight:900;text-transform:none;text-decoration:none;}.elementor-22 .elementor-element.elementor-element-9e938fd .elementor-button{font-family:"Karla", Sans-serif;font-size:15px;font-weight:900;fill:#1D1D1B;color:#1D1D1B;background-color:#FCE14A;border-radius:999px 999px 999px 999px;padding:20px 40px 20px 40px;}.elementor-22 .elementor-element.elementor-element-9e938fd .elementor-button:hover, .elementor-22 .elementor-element.elementor-element-9e938fd .elementor-button:focus{color:#FCE14A;background-color:#1D1D1B;}.elementor-22 .elementor-element.elementor-element-9e938fd .elementor-button:hover svg, .elementor-22 .elementor-element.elementor-element-9e938fd .elementor-button:focus svg{fill:#FCE14A;}.elementor-22 .elementor-element.elementor-element-9e938fd > .elementor-widget-container{margin:-90px 0px 60px 0px;}.elementor-22 .elementor-element.elementor-element-e434140{margin-top:130px;margin-bottom:0px;}.elementor-22 .elementor-element.elementor-element-e184f75 .elementor-heading-title{color:#1D1D1B;font-family:"Raleway", Sans-serif;font-size:55px;font-weight:900;font-style:italic;}.elementor-22 .elementor-element.elementor-element-8cdb381{margin-top:60px;margin-bottom:0px;}.elementor-22 .elementor-element.elementor-element-e190e1a .elementor-repeater-item-d86e871 .swiper-slide-bg{background-color:#000000;background-image:url(http://mania.best/wp-content/uploads/2022/09/claudio-schwarz-Efgocb5Y0J4-unsplash.png);background-size:cover;}.elementor-22 .elementor-element.elementor-element-e190e1a .elementor-repeater-item-d86e871 .swiper-slide-contents{margin-right:auto;}.elementor-22 .elementor-element.elementor-element-e190e1a .elementor-repeater-item-d86e871 .swiper-slide-inner{align-items:flex-start;}.elementor-22 .elementor-element.elementor-element-e190e1a .elementor-repeater-item-079192c .swiper-slide-bg{background-color:#000000;background-image:url(http://mania.best/wp-content/uploads/2022/09/claudio-schwarz-Efgocb5Y0J4-unsplash.png);background-size:cover;}.elementor-22 .elementor-element.elementor-element-e190e1a .elementor-repeater-item-079192c .swiper-slide-contents{margin-right:auto;}.elementor-22 .elementor-element.elementor-element-e190e1a .elementor-repeater-item-079192c .swiper-slide-inner{align-items:flex-start;}.elementor-22 .elementor-element.elementor-element-e190e1a .elementor-repeater-item-d2f199e .swiper-slide-bg{background-color:#000000;background-image:url(http://mania.best/wp-content/uploads/2022/09/claudio-schwarz-Efgocb5Y0J4-unsplash.png);background-size:cover;}.elementor-22 .elementor-element.elementor-element-e190e1a .elementor-repeater-item-d2f199e .swiper-slide-contents{margin-right:auto;}.elementor-22 .elementor-element.elementor-element-e190e1a .elementor-repeater-item-d2f199e .swiper-slide-inner{align-items:flex-start;}.elementor-22 .elementor-element.elementor-element-e190e1a .swiper-slide{height:600px;transition-duration:calc(5000ms*1.2);}.elementor-22 .elementor-element.elementor-element-e190e1a .swiper-slide-contents{max-width:66%;}.elementor-22 .elementor-element.elementor-element-e190e1a .swiper-slide-inner{text-align:center;}.elementor-22 .elementor-element.elementor-element-865ac6a{margin-top:150px;margin-bottom:0px;}.elementor-22 .elementor-element.elementor-element-d284172.elementor-wc-products  ul.products{grid-column-gap:20px;grid-row-gap:40px;}.elementor-22 .elementor-element.elementor-element-d284172.elementor-wc-products ul.products li.product .woocommerce-loop-product__title{color:#1D1D1B;}.elementor-22 .elementor-element.elementor-element-d284172.elementor-wc-products ul.products li.product .woocommerce-loop-category__title{color:#1D1D1B;}.elementor-22 .elementor-element.elementor-element-d284172.elementor-wc-products ul.products li.product .woocommerce-loop-product__title, .elementor-22 .elementor-element.elementor-element-d284172.elementor-wc-products ul.products li.product .woocommerce-loop-category__title{font-family:"Karla", Sans-serif;font-size:25px;font-weight:700;font-style:normal;}.elementor-22 .elementor-element.elementor-element-d284172.elementor-wc-products ul.products li.product .price{color:#1D1D1B;font-family:"Karla", Sans-serif;font-size:18px;font-weight:400;font-style:normal;}.elementor-22 .elementor-element.elementor-element-d284172.elementor-wc-products ul.products li.product .price ins{color:#1D1D1B;}.elementor-22 .elementor-element.elementor-element-d284172.elementor-wc-products ul.products li.product .price ins .amount{color:#1D1D1B;}.elementor-22 .elementor-element.elementor-element-d284172.elementor-wc-products ul.products li.product .price del{color:#1D1D1B;}.elementor-22 .elementor-element.elementor-element-d284172.elementor-wc-products ul.products li.product .price del .amount{color:#1D1D1B;}.elementor-22 .elementor-element.elementor-element-d284172.elementor-wc-products ul.products li.product .price del {font-family:"Karla", Sans-serif;font-size:18px;font-weight:400;font-style:normal;}.elementor-22 .elementor-element.elementor-element-d284172.elementor-wc-products ul.products li.product .button{font-family:"Karla", Sans-serif;font-weight:400;}.elementor-22 .elementor-element.elementor-element-d284172.elementor-wc-products .added_to_cart{font-family:"Karla", Sans-serif;font-weight:400;}.elementor-22 .elementor-element.elementor-element-d284172.elementor-wc-products ul.products li.product span.onsale{display:block;}.elementor-22 .elementor-element.elementor-element-f2c5fff{margin-top:110px;margin-bottom:0px;}.elementor-22 .elementor-element.elementor-element-ae15abd .elementor-heading-title{color:#1D1D1B;font-family:"Raleway", Sans-serif;font-size:55px;font-weight:900;font-style:italic;}.elementor-22 .elementor-element.elementor-element-b3362da{margin-top:60px;margin-bottom:0px;}.elementor-22 .elementor-element.elementor-element-8fb092c .elementor-repeater-item-0ca13a2 .swiper-slide-bg{background-color:#000000;background-image:url(http://mania.best/wp-content/uploads/2022/09/claudio-schwarz-Efgocb5Y0J4-unsplash.png);background-size:cover;}.elementor-22 .elementor-element.elementor-element-8fb092c .elementor-repeater-item-0ca13a2 .swiper-slide-contents{margin-right:auto;}.elementor-22 .elementor-element.elementor-element-8fb092c .elementor-repeater-item-0ca13a2 .swiper-slide-inner{align-items:flex-start;text-align:left;}.elementor-22 .elementor-element.elementor-element-8fb092c .elementor-repeater-item-5a2aadb .swiper-slide-bg{background-color:#000000;background-image:url(http://mania.best/wp-content/uploads/2022/09/claudio-schwarz-Efgocb5Y0J4-unsplash.png);background-size:cover;}.elementor-22 .elementor-element.elementor-element-8fb092c .elementor-repeater-item-5a2aadb .swiper-slide-contents{margin-right:auto;}.elementor-22 .elementor-element.elementor-element-8fb092c .elementor-repeater-item-5a2aadb .swiper-slide-inner{align-items:flex-start;text-align:left;}.elementor-22 .elementor-element.elementor-element-8fb092c .elementor-repeater-item-8963875 .swiper-slide-bg{background-color:#000000;background-image:url(http://mania.best/wp-content/uploads/2022/09/claudio-schwarz-Efgocb5Y0J4-unsplash.png);background-size:cover;}.elementor-22 .elementor-element.elementor-element-8fb092c .elementor-repeater-item-8963875 .swiper-slide-contents{margin-right:auto;}.elementor-22 .elementor-element.elementor-element-8fb092c .elementor-repeater-item-8963875 .swiper-slide-inner{align-items:flex-start;text-align:left;}.elementor-22 .elementor-element.elementor-element-8fb092c .swiper-slide{height:600px;transition-duration:calc(5000ms*1.2);}.elementor-22 .elementor-element.elementor-element-8fb092c .swiper-slide-contents{max-width:66%;}.elementor-22 .elementor-element.elementor-element-8fb092c .swiper-slide-inner{text-align:center;}.elementor-22 .elementor-element.elementor-element-8fb092c .elementor-slide-heading{color:var( --e-global-color-secondary );font-family:"Raleway", Sans-serif;font-size:45px;font-weight:900;font-style:italic;line-height:70px;}.elementor-22 .elementor-element.elementor-element-8fb092c .elementor-slide-description{color:#1D1D1B;font-family:"Raleway", Sans-serif;font-size:20px;font-weight:500;font-style:normal;line-height:30px;}.elementor-22 .elementor-element.elementor-element-8fb092c .elementor-slide-button{font-family:"Karla", Sans-serif;font-size:15px;font-weight:900;line-height:20px;border-radius:25px;color:var( --e-global-color-secondary );background-color:var( --e-global-color-primary );border-color:#02010100;}.elementor-22 .elementor-element.elementor-element-8fb092c .swiper-pagination-bullet-active{background-color:#02010100;}.elementor-22 .elementor-element.elementor-element-5c27b22{margin-top:150px;margin-bottom:80px;}.elementor-22 .elementor-element.elementor-element-f7eb9f8 .elementor-heading-title{color:#1D1D1B;font-family:"Raleway", Sans-serif;font-size:55px;font-weight:900;font-style:italic;line-height:70px;}.elementor-22 .elementor-element.elementor-element-d90bc66 .elementor-heading-title{color:#1D1D1B;font-family:"Karla", Sans-serif;font-size:30px;font-weight:700;font-style:normal;line-height:35px;}.elementor-22 .elementor-element.elementor-element-a19c99d{color:#1D1D1B;font-family:"Karla", Sans-serif;font-size:20px;font-weight:400;line-height:30px;}.elementor-22 .elementor-element.elementor-element-9963458 .elementor-heading-title{color:#1D1D1B;font-family:"Karla", Sans-serif;font-size:30px;font-weight:700;font-style:normal;line-height:35px;}.elementor-22 .elementor-element.elementor-element-4f39f8a{color:#1D1D1B;font-family:"Karla", Sans-serif;font-size:20px;font-weight:400;line-height:30px;}.elementor-22 .elementor-element.elementor-element-95ad002{color:#1D1D1B;font-family:"Karla", Sans-serif;font-size:25px;font-weight:400;line-height:45px;}.elementor-22 .elementor-element.elementor-element-043528f{font-family:"Karla", Sans-serif;font-size:25px;font-weight:400;line-height:45px;}.elementor-22 .elementor-element.elementor-element-9aaf910{margin-top:0px;margin-bottom:0px;padding:0px 80px 0px 0px;}.elementor-22 .elementor-element.elementor-element-2973d82 .elementor-heading-title{color:#1D1D1B;font-family:"Karla", Sans-serif;font-size:30px;font-weight:700;font-style:normal;line-height:35px;}.elementor-22 .elementor-element.elementor-element-ebb7ef3{font-family:"Karla", Sans-serif;font-size:20px;font-weight:400;line-height:30px;}.elementor-22 .elementor-element.elementor-element-c30142e img{width:100%;}.elementor-22 .elementor-element.elementor-element-c30142e{width:100%;max-width:100%;}.elementor-22 .elementor-element.elementor-element-f664797 .elementor-heading-title{color:var( --e-global-color-secondary );font-family:"Karla", Sans-serif;font-size:30px;font-weight:700;font-style:normal;line-height:35px;}.elementor-22 .elementor-element.elementor-element-daea2f1{color:#1D1D1B;font-family:"Karla", Sans-serif;font-size:20px;font-weight:400;line-height:30px;}.elementor-22 .elementor-element.elementor-element-85e57be{color:#1D1D1B;font-family:"Karla", Sans-serif;font-size:25px;font-weight:400;line-height:45px;}.elementor-22 .elementor-element.elementor-element-7505d41{font-family:"Karla", Sans-serif;font-size:25px;font-weight:400;line-height:45px;}.elementor-22 .elementor-element.elementor-element-ae9aef2 .elementor-heading-title{color:var( --e-global-color-secondary );font-family:"Karla", Sans-serif;font-size:30px;font-weight:700;font-style:normal;line-height:35px;}.elementor-22 .elementor-element.elementor-element-796176a{color:#1D1D1B;font-family:"Karla", Sans-serif;font-size:20px;font-weight:400;line-height:30px;}.elementor-22 .elementor-element.elementor-element-c094d99{color:#1D1D1B;font-family:"Karla", Sans-serif;font-size:20px;font-weight:400;line-height:30px;}.elementor-22 .elementor-element.elementor-element-276e694 .elementor-heading-title{color:var( --e-global-color-secondary );font-family:"Karla", Sans-serif;font-size:30px;font-weight:700;font-style:normal;line-height:35px;}.elementor-22 .elementor-element.elementor-element-b0255c8{color:#1D1D1B;font-family:"Karla", Sans-serif;font-size:20px;font-weight:400;line-height:30px;}@media(min-width:768px){.elementor-22 .elementor-element.elementor-element-e008a8c{width:50%;}.elementor-22 .elementor-element.elementor-element-71640bc{width:50%;}}@media(max-width:1024px){.elementor-22 .elementor-element.elementor-element-d284172.elementor-wc-products  ul.products{grid-column-gap:20px;grid-row-gap:40px;}}@media(max-width:767px){.elementor-22 .elementor-element.elementor-element-8a56511{padding:0px 0px 0px 0px;}.elementor-22 .elementor-element.elementor-element-ad89b66 > .elementor-widget-container{padding:0px 0px 50px 0px;}.elementor-22 .elementor-element.elementor-element-03d8197{margin-top:0px;margin-bottom:-120px;padding:0px 0px 0px 0px;}.elementor-22 .elementor-element.elementor-element-db7caf3 > .elementor-widget-container{padding:0px 0px 50px 0px;}.elementor-22 .elementor-element.elementor-element-6792364{margin-top:0px;margin-bottom:0px;}.elementor-22 .elementor-element.elementor-element-989146c{margin-top:30px;margin-bottom:0px;}.elementor-22 .elementor-element.elementor-element-2f1b1ea > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-22 .elementor-element.elementor-element-41c9b85 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.5 * 100% );}.elementor-22 .elementor-element.elementor-element-41c9b85:after{content:"0.5";}.elementor-22 .elementor-element.elementor-element-9e938fd > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-22 .elementor-element.elementor-element-e434140{margin-top:30px;margin-bottom:0px;}.elementor-22 .elementor-element.elementor-element-8cdb381{margin-top:20px;margin-bottom:0px;}.elementor-22 .elementor-element.elementor-element-e190e1a .swiper-slide{height:500px;}.elementor-22 .elementor-element.elementor-element-865ac6a{margin-top:60px;margin-bottom:0px;}.elementor-bc-flex-widget .elementor-22 .elementor-element.elementor-element-d194c12.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-22 .elementor-element.elementor-element-d194c12.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-22 .elementor-element.elementor-element-d194c12.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-22 .elementor-element.elementor-element-d284172.elementor-wc-products  ul.products{grid-column-gap:0px;grid-row-gap:31px;}.elementor-22 .elementor-element.elementor-element-f2c5fff{margin-top:30px;margin-bottom:0px;}.elementor-22 .elementor-element.elementor-element-b3362da{margin-top:10px;margin-bottom:0px;}.elementor-22 .elementor-element.elementor-element-8fb092c .swiper-slide{height:500px;}.elementor-22 .elementor-element.elementor-element-5c27b22{margin-top:50px;margin-bottom:50px;}}/* Start custom CSS for heading, class: .elementor-element-92c7da2 */.elementor-22 .elementor-element.elementor-element-92c7da2{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    left: calc((100vw - 1600px) / 2);
    max-width: 750px;
}


@media only screen and (max-width: 1600px){
    .elementor-22 .elementor-element.elementor-element-92c7da2{
        left: 30px;
        max-width: 70vw;
    }
    
    .elementor-22 .elementor-element.elementor-element-92c7da2 h1{
        font-size: 40px!important;
    }
}

@media only screen and (max-width: 600px){
    .elementor-22 .elementor-element.elementor-element-92c7da2 h1{
        font-size: 30px!important;
    }
}












/**//* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-8a56511 */@media only screen and (max-width: 445px){
    .elementor-22 .elementor-element.elementor-element-8a56511{
        display: none;
    }
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-046f033 */.elementor-22 .elementor-element.elementor-element-046f033{
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    left: 30px;
    max-width: 80vw;
}

.elementor-22 .elementor-element.elementor-element-046f033 h1{
    font-size: 40px!important;
}













/**//* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-03d8197 */@media only screen and (min-width: 446px){
    .elementor-22 .elementor-element.elementor-element-03d8197{
        display: none;
    }
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-c884f2d */.header-product-section{
    width: 100%;
}
.header-product-container{
    width: 100%;
    max-width: 1630px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    gap: 20px;
}
.header-product-card{
    background-color:#FFDD00;
    border-radius: 30px 30px 0px 0px;
    max-width: 305px;
    width: 100%;
    height: 290px;
    position: relative;
}
.header-product-card img{
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 150%;
}
.header-product-card h4{
    font-size: 25px;
    line-height: 33px;
    color: #1D1D1B;
    font-weight: 700;
    position: absolute;
    bottom: -50px;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translateX(-50%);
    margin-bottom: 0;
}
.header-product-slider{
    width: 300px;
    height: 100%;
    overflow: visible!important;
    cursor: grab;
}
.header-product-slider .swiper-slide:not(.swiper-slide-active){
    opacity: 0!important;
}

.header-product-pag .swiper-pagination-bullet{
    width: 18px!important;
    height: 18px!important;
    background-color: #fff;
    opacity: 0.7;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}
.header-product-pag .swiper-pagination-bullet-active{
    opacity: 1;
}



@media only screen and (max-width: 1450px){
    .header-product-card img{
        max-width: 100%;
    }
    
    .header-product-card{
        height: 250px;
        max-width: 250px;
    }
    
    .header-product-slider{
        width: 250px;
    }
}

@media only screen and (max-width: 1280px){
    .header-product-container{
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 80px 20px;
    }
}

@media only screen and (max-width: 768px){
    .header-product-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 500px){
    .header-product-card{
        height: 150px;
        max-width: 150px;
        border-radius: 15px 15px 0px 0px;
    }
    
    .header-product-slider{
        width: 150px;
    }
    
    .header-product-card h4{
        font-size: 15px;
        line-height: 19px;
        bottom: -32px;
    }
    
    .header-product-container{
        gap: 50px 20px;
    }
}


























/**//* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-2323dc5 */@media only screen and (max-width: 600px){
    .elementor-22 .elementor-element.elementor-element-2323dc5 h2{
        font-size: 30px!important;
    }
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-2f1b1ea */@media only screen and (max-width: 767px){
    .elementor-22 .elementor-element.elementor-element-2f1b1ea{
        display: none;
    }
}/* End custom CSS */
/* Start custom CSS for posts, class: .elementor-element-41c9b85 */.elementor-22 .elementor-element.elementor-element-41c9b85 .elementor-post__title a{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    margin-top: -17px;
    margin-bottom: -13px;
}

.elementor-22 .elementor-element.elementor-element-41c9b85 .elementor-post__excerpt p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    margin-bottom: -10px;
}

.elementor-22 .elementor-element.elementor-element-41c9b85 article.elementor-post .elementor-post__card{
    box-shadow: 0 10px 30px rgb(0 0 0 / 7%);
    border-radius: 30px 30px 0 0;
}

.elementor-22 .elementor-element.elementor-element-41c9b85 a.elementor-post__read-more{
    border: 1px solid #1D1D1B;
    border-radius: 100px;
    padding: 8px 37px 6px 27px;
    position: relative;
}

.elementor-22 .elementor-element.elementor-element-41c9b85 a.elementor-post__read-more:hover{
    background: #E6E6E6;
}

.elementor-22 .elementor-element.elementor-element-41c9b85 a.elementor-post__read-more::after{
    content:"";
    position: absolute;
    background-image: url(http://mania.best/wp-content/uploads/2022/09/read-more-arrow.svg);
    background-size: cover;
    width: 6px;
    height: 10px;
    right: 22px;
    top: 52%;
    transform: translateY(-50%);
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-9e938fd */@media only screen and (min-width: 768px){
    .elementor-22 .elementor-element.elementor-element-9e938fd{
        display: none;
    }
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-e184f75 */@media only screen and (max-width: 600px){
    .elementor-22 .elementor-element.elementor-element-e184f75 h2{
        font-size: 30px!important;
    }
}/* End custom CSS */
/* Start custom CSS for slides, class: .elementor-element-e190e1a */.elementor-22 .elementor-element.elementor-element-e190e1a{
    margin-right: calc((100vw - 1600px) / 2);
    border-radius: 0 60px 60px 0;
    overflow: hidden;
    box-shadow: 0 10px 30px rgb(0 0 0 / 7%);
}


.elementor-22 .elementor-element.elementor-element-e190e1a .elementor-slide-heading{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1;
    font-style: normal;
    font-family: 'Karla', sans-serif;
    color: #1D1D1B;
    background-color: #ffffff5e;
    backdrop-filter: blur(15px);
    padding: 20px 40px 20px 300px;
    border-radius: 0 100px 100px 0;
    transform: translateX(-189px);
}

.elementor-22 .elementor-element.elementor-element-e190e1a .swiper-slide{
    overflow: hidden;
}


.elementor-22 .elementor-element.elementor-element-e190e1a .swiper-pagination-bullet{
    width: 18px!important;
    height: 18px!important;
    background-color: #FFFFFF!important;
    opacity: 0.7;
}
.elementor-22 .elementor-element.elementor-element-e190e1a .swiper-pagination-bullet-active{
    opacity: 1;
}

.elementor-22 .elementor-element.elementor-element-e190e1a .elementor-swiper-button-prev{
    width: 62px;
    height: 62px;
    padding-left: 2px;
    color: transparent!important;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    left: 140px!important;
    bottom: -15px!important;
    top: unset!important;
    align-items: center;
    justify-content: center;
}

.elementor-22 .elementor-element.elementor-element-e190e1a .elementor-swiper-button-prev::before{
    position: absolute;
    content: "";
    
    border: solid #111111;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transition: border-color 0.3s linear;
}

.elementor-22 .elementor-element.elementor-element-e190e1a .elementor-swiper-button-next{
    width: 62px;
    height: 62px;
    padding-right: 2px;
    color: transparent!important;
    background-color: #FFFFFF;
     left: 210px!important;
    bottom: -15px!important;
    top: unset!important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elementor-22 .elementor-element.elementor-element-e190e1a .elementor-swiper-button-next::before{
    position: absolute;
    content: "";
    
    border: solid #111111;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition: border-color 0.3s linear;
}

@media only screen and (max-width: 1000px) {
    .elementor-22 .elementor-element.elementor-element-e190e1a{
        margin-right: 25px;
    }
    .elementor-22 .elementor-element.elementor-element-e190e1a .elementor-slide-heading{
            padding: 20px 25px 20px 25px;
                transform: translateX(-50px);
    }
}

@media only screen and (max-width: 768px) {
    .elementor-22 .elementor-element.elementor-element-e190e1a{
        border-radius: 0 15px 15px 0;
    }
}


@media only screen and (max-width: 480px) {
     .elementor-22 .elementor-element.elementor-element-e190e1a .elementor-slide-heading{
         font-size: 18px;
             transform: translateX(-30px);
    width: 230px;
     }
     .elementor-22 .elementor-element.elementor-element-e190e1a .elementor-swiper-button{
         display: none;
     }
}/* End custom CSS */
/* Start custom CSS for woocommerce-products, class: .elementor-element-d284172 */.elementor-22 .elementor-element.elementor-element-d284172 li{
    background: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .07)!important;
    border-radius: 30px 30px 0 0;
    overflow: hidden;
}

.elementor-22 .elementor-element.elementor-element-d284172 li .tinv-wishlist{
    position: absolute;
    top: 0;
    left: 25px;
    transform: scale(1.5);
}

.elementor-22 .elementor-element.elementor-element-d284172 li .onsale{
    border-radius: 0 30px 0 30px!important;
    background: #FCE14A;
    color: #1D1D1B;
    font-family: 'Karla', sans-serif;
    font-size: 25px;
    margin: 0!important;
    line-height: 1;
    min-width: auto;
    min-height: auto;
    padding: 15px 10px 17px!important;
}

.elementor-22 .elementor-element.elementor-element-d284172 li .add_to_cart_button{
    display: block;
    position: relative;
    text-align: center;
    background: #FCE14A;
    color: #1D1D1B;
    border-radius: 15px;
}

.elementor-22 .elementor-element.elementor-element-d284172 li .add_to_cart_button::before{
    content: "";
    position: absolute;
    height: .5px;
    width: 20px;
    top: 50%;
    left: -20px;
    background: #8D8D8C;
}
.elementor-22 .elementor-element.elementor-element-d284172 li .add_to_cart_button::after{
    content: "";
    position: absolute;
    height: .5px;
    width: 20px;
    top: 50%;
    right: -20px;
    background: #8D8D8C;
}













/**//* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-ae15abd */@media only screen and (max-width: 600px){
    .elementor-22 .elementor-element.elementor-element-ae15abd h2{
        font-size: 30px!important;
    }
}/* End custom CSS */
/* Start custom CSS for slides, class: .elementor-element-8fb092c */.elementor-22 .elementor-element.elementor-element-8fb092c{
    margin-left: calc((100vw - 1600px) / 2);
    border-radius: 60px 0 0 60px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgb(0 0 0 / 7%);
}




.elementor-22 .elementor-element.elementor-element-8fb092c .swiper-slide{
    overflow: hidden;
}

.elementor-22 .elementor-element.elementor-element-8fb092c .swiper-slide-contents{
    background-color: #ffffff5e;
    backdrop-filter: blur(15px);

    padding: 20px 40px 40px 300px;
    border-radius: 0 40px 40px 0;
    transform: translateX(-189px);
}

.elementor-22 .elementor-element.elementor-element-8fb092c .elementor-slide-heading{
    margin-bottom: 10px!important;    
}

.elementor-22 .elementor-element.elementor-element-8fb092c .elementor-button{
   padding: 0px 23px;
    height: 50px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}
.elementor-22 .elementor-element.elementor-element-8fb092c .elementor-button:hover{
    background-color: #FFDD00;
    color: #1D1D1B;
}
.elementor-22 .elementor-element.elementor-element-8fb092c .elementor-button::after{
        position: relative;
    content: "";
    margin-left: 15px;
    border: solid #111111;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    
    transition: border-color 0.3s linear;
}


.elementor-22 .elementor-element.elementor-element-8fb092c .swiper-pagination-bullet{
    width: 18px!important;
    height: 18px!important;
    background-color: #FFFFFF!important;
    opacity: 0.7;
}
.elementor-22 .elementor-element.elementor-element-8fb092c .swiper-pagination-bullet-active{
    opacity: 1;
}

.elementor-22 .elementor-element.elementor-element-8fb092c .elementor-swiper-button-prev{
    width: 62px;
    height: 62px;
    padding-left: 2px;
    color: transparent!important;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    left: unset!important;
    right: 140px!important;
    bottom: -15px!important;
    top: unset!important;
    align-items: center;
    justify-content: center;
}

.elementor-22 .elementor-element.elementor-element-8fb092c .elementor-swiper-button-prev::before{
    position: absolute;
    content: "";
    
    border: solid #111111;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transition: border-color 0.3s linear;
}

.elementor-22 .elementor-element.elementor-element-8fb092c .elementor-swiper-button-next{
    width: 62px;
    height: 62px;
    padding-right: 2px;
    color: transparent!important;
    background-color: #FFFFFF;
     right:  70px!important;
    bottom: -15px!important;
    top: unset!important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elementor-22 .elementor-element.elementor-element-8fb092c .elementor-swiper-button-next::before{
    position: absolute;
    content: "";
    
    border: solid #111111;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition: border-color 0.3s linear;
}


@media only screen and (max-width: 1600px) {
    .elementor-22 .elementor-element.elementor-element-8fb092c{
         margin-left: 50px; 1600px) / 2);
    }
}

@media only screen and (max-width: 1000px) {
    .elementor-22 .elementor-element.elementor-element-8fb092c{
        margin-left: 25px;
        border-radius: 15px 0 0 15px;
    }
}

@media only screen and (max-width: 768px) {
    .elementor-22 .elementor-element.elementor-element-8fb092c .swiper-slide-contents{
        padding: 10px 10px 20px 10px;
        border-radius: 0 15px 15px 0;
        transform: translateX(-30px);
        max-width: 100%;
    }
    
    .elementor-22 .elementor-element.elementor-element-8fb092c .elementor-slide-heading{
        font-size: 25px;
        line-height: 1.3; 
    }
    
    .elementor-22 .elementor-element.elementor-element-8fb092c .elementor-slide-description{
        font-size: 15px;
        line-height: 21px;
    }
}

@media only screen and (max-width: 480px) {
    .elementor-22 .elementor-element.elementor-element-8fb092c .elementor-swiper-button{
        display: none;
    }
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-f7eb9f8 */@media only screen and (max-width: 600px){
    .elementor-22 .elementor-element.elementor-element-f7eb9f8 h2{
        font-size: 30px!important;
    }
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-a19c99d */.elementor-22 .elementor-element.elementor-element-a19c99d p{
    max-width: 770px;
}

@media only screen and (max-width: 480px) {
    .elementor-22 .elementor-element.elementor-element-a19c99d p{
        margin-bottom: 30px!important;
    }
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-4f39f8a */.elementor-22 .elementor-element.elementor-element-4f39f8a p{
    margin-bottom:0px!important;
    max-width: 770px;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-95ad002 */.elementor-22 .elementor-element.elementor-element-95ad002 ul{
    margin: 0 0 1.5em 0.6em;
    list-style: none;
}
.elementor-22 .elementor-element.elementor-element-95ad002 ul li{
    position: relative
}
.elementor-22 .elementor-element.elementor-element-95ad002 ul li::before{
    position: absolute;
    left: -20px;
    top: 20px;
    content:"";
    width: 8px;
    height: 8px;
    border: 1px solid #1D1D1B;
    border-radius: 50%;
}
@media only screen and (max-width: 480px) {
    .elementor-22 .elementor-element.elementor-element-95ad002 ul li::before{
        top: 8px;
    }
      .elementor-22 .elementor-element.elementor-element-95ad002 ul{
    margin: 0 0 0em 0.6em;
}
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-043528f */.elementor-22 .elementor-element.elementor-element-043528f ul{
    margin: 0 0 1.5em 0.6em;
    list-style: none;
}
.elementor-22 .elementor-element.elementor-element-043528f ul li{
    position: relative
}
.elementor-22 .elementor-element.elementor-element-043528f ul li::before{
    position: absolute;
    left: -20px;
    top: 20px;
    content:"";
    width: 8px;
    height: 8px;
    border: 1px solid #1D1D1B;
    border-radius: 50%;
}
@media only screen and (max-width: 480px) {
    .elementor-22 .elementor-element.elementor-element-043528f ul li::before{
        top: 8px;
    }
    .elementor-22 .elementor-element.elementor-element-043528f ul{
    margin: 0 0 0em 0.6em;
}
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-33b063a */@media only screen and (max-width: 480px) {
    .elementor-22 .elementor-element.elementor-element-33b063a > div{
        display: flex;
        gap: 50px;
    }
    .elementor-22 .elementor-element.elementor-element-33b063a > div > div{
        width: fit-content!important;
    }
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-835ff4b */.elementor-22 .elementor-element.elementor-element-835ff4b img{
    border-radius: 60px 0px 0px 60px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.07);
    display: block;
}

@media only screen and (max-width: 600px){
    .elementor-22 .elementor-element.elementor-element-835ff4b img{
        border-radius: 15px 0px 0px 15px;
    }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-5c27b22 */.elementor-22 .elementor-element.elementor-element-5c27b22{
    display: flex!important;
    justify-content: space-between!important;
 padding-left: calc((100vw - 1600px) / 2); 
}
.elementor-22 .elementor-element.elementor-element-5c27b22 > div{
    gap: 50px;
}
@media only screen and (max-width: 1600px) {
    .elementor-22 .elementor-element.elementor-element-5c27b22{
        padding-left: 50px;
    }
}
@media only screen and (max-width: 1080px) {
    .elementor-column.elementor-col-50, .elementor-column[data-col="50"]{
        width: 100%!important;
    }
}
@media only screen and (max-width: 480px) {
    .elementor-22 .elementor-element.elementor-element-5c27b22{
        padding-left: 25px;
    }
    .elementor-22 .elementor-element.elementor-element-5c27b22 > div > div:first-child{
    margin-right: 25px;
}
.elementor-22 .elementor-element.elementor-element-5c27b22 .elementor-heading-title{
    font-size: 20px;
}
.elementor-22 .elementor-element.elementor-element-5c27b22 p{
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 0px;
}
.elementor-22 .elementor-element.elementor-element-5c27b22 ul li{
    font-size: 15px;
    line-height: 22px;
}
.elementor-22 .elementor-element.elementor-element-5c27b22 > div{
    gap: 20px;
}
.elementor-22 .elementor-element.elementor-element-5c27b22 h2.elementor-heading-title{
    text-align: center!important;
}
.elementor-22 .elementor-element.elementor-element-5c27b22 .elementor-widget:not(:last-child){
    margin-bottom: 0px!important;
}
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-ebb7ef3 */.elementor-22 .elementor-element.elementor-element-ebb7ef3{
    width: 100%!important;
    max-width: 770px;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-e008a8c */@media only screen and (max-width: 480px) {
    .elementor-22 .elementor-element.elementor-element-e008a8c{
    padding-right: 25px;
    margin-bottom: 30px
}
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-c30142e */.elementor-22 .elementor-element.elementor-element-c30142e img{
    border-radius: 0px 60px 0px 0px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.07);
    display: block;
}

@media only screen and (max-width: 600px){
    .elementor-22 .elementor-element.elementor-element-c30142e img{
        border-radius: 0px 15px 0px 0px;
    }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-9aaf910 */.elementor-22 .elementor-element.elementor-element-9aaf910 div{
    display: flex!important;
    flex-direction: column!important;
    align-items: flex-end;
    justify-content: space-between!important;
    width: 100%!important;
}
.elementor-22 .elementor-element.elementor-element-9aaf910{
    height: 100%!important;
}
.elementor-22 .elementor-element.elementor-element-9aaf910 > div{
    height: 100%!important;
}
.elementor-22 .elementor-element.elementor-element-9aaf910 > div > div:first-child{
    max-width: 630px;
}
.elementor-22 .elementor-element.elementor-element-9aaf910 > div > div:first-child h4{
    margin-right: auto;
}
@media only screen and (max-width: 480px) {
    .elementor-22 .elementor-element.elementor-element-9aaf910 div{
        align-items: flex-start;
    }
    .elementor-22 .elementor-element.elementor-element-9aaf910{
        padding-right: 25px;
    }
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-daea2f1 */.elementor-22 .elementor-element.elementor-element-daea2f1 p {
    margin-bottom: 0px!important;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-85e57be */.elementor-22 .elementor-element.elementor-element-85e57be ul{
    margin: 0 0 1.5em 0.6em;
    list-style: none;
}
.elementor-22 .elementor-element.elementor-element-85e57be ul li{
    position: relative
}
.elementor-22 .elementor-element.elementor-element-85e57be ul li::before{
    position: absolute;
    left: -20px;
    top: 20px;
    content:"";
    width: 8px;
    height: 8px;
    border: 1px solid #1D1D1B;
    border-radius: 50%;
}
@media only screen and (max-width: 480px) {
    .elementor-22 .elementor-element.elementor-element-85e57be ul li::before{
        top: 8px;
    }
      .elementor-22 .elementor-element.elementor-element-85e57be ul{
    margin: 0 0 0em 0.6em;
}
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-7505d41 */.elementor-22 .elementor-element.elementor-element-7505d41 ul{
    margin: 0 0 1.5em 0.6em;
    list-style: none;
}
.elementor-22 .elementor-element.elementor-element-7505d41 ul li{
    position: relative
}
.elementor-22 .elementor-element.elementor-element-7505d41 ul li::before{
    position: absolute;
    left: -20px;
    top: 20px;
    content:"";
    width: 8px;
    height: 8px;
    border: 1px solid #1D1D1B;
    border-radius: 50%;
}
@media only screen and (max-width: 480px) {
    .elementor-22 .elementor-element.elementor-element-7505d41 ul li::before{
        top: 8px;
    }
    .elementor-22 .elementor-element.elementor-element-7505d41 ul{
    margin: 0 0 0em 0.6em;
}
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-3982797 */@media only screen and (max-width: 480px) {
    .elementor-22 .elementor-element.elementor-element-3982797 > div{
        display: flex;
        gap: 50px;
    }
    .elementor-22 .elementor-element.elementor-element-3982797 > div > div{
        width: fit-content!important;
    }
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-796176a */.elementor-22 .elementor-element.elementor-element-796176a p {
    margin-bottom: 0px!important;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-c094d99 */.elementor-22 .elementor-element.elementor-element-c094d99 ul{
    margin: 0 0 1.5em 1.2em;
    list-style: none;
}
.elementor-22 .elementor-element.elementor-element-c094d99 ul li{
    position: relative
}
.elementor-22 .elementor-element.elementor-element-c094d99 ul li::before{
    position: absolute;
    left: -19px;
    top: 10px;
    content:"";
    width: 8px;
    height: 8px;
    border: 1px solid #1D1D1B;
    border-radius: 50%;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-b0255c8 */.elementor-22 .elementor-element.elementor-element-b0255c8{
    margin-bottom: 30px
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-a5df34a */.elementor-22 .elementor-element.elementor-element-a5df34a{
    display: flex!important;
    justify-content: space-between!important;
 padding-right: calc((100vw - 1600px) / 2); 
 gap: 30px;
}
.elementor-22 .elementor-element.elementor-element-a5df34a > div{
     background-color: #FFFFFF;
 border-radius: 0px 60px 60px 0px;
 box-shadow: 0px 10px 30px rgba(0,0,0,0.07);
 padding: 80px 0px 0px 0px;
}
.elementor-22 .elementor-element.elementor-element-a5df34a > div > div:nth-child(2){
    padding-right: 70px;
}
@media only screen and (max-width: 1600px) {
    .elementor-22 .elementor-element.elementor-element-a5df34a{
        padding-right: 50px;
    }
}
@media only screen and (max-width: 1080px) {
    .elementor-column.elementor-col-50, .elementor-column[data-col="50"]{
        width: 100%!important;
    }
}
@media only screen and (max-width: 480px) {
    
    .elementor-22 .elementor-element.elementor-element-a5df34a{
        padding-right: 25px;
    }
    .elementor-22 .elementor-element.elementor-element-a5df34a > div > div:first-child > div  > section > div > div:first-child{
        margin-left: 25px;
        margin-right: 25px;
    }
    
    .elementor-22 .elementor-element.elementor-element-a5df34a > div > div:last-child{
        padding-right: 25px;
        padding-left: 25px;
    }
    .elementor-22 .elementor-element.elementor-element-a5df34a .elementor-heading-title{
        font-size: 20px;
    }
    .elementor-22 .elementor-element.elementor-element-a5df34a p{
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 0px;
    }
    .elementor-22 .elementor-element.elementor-element-a5df34a ul li{
        font-size: 15px;
        line-height: 22px;
    }
    .elementor-22 .elementor-element.elementor-element-a5df34a > div{
        gap: 20px;
        padding-top: 30px;
        border-radius: 0px 15px 15px 0px;
    }
    
    .elementor-22 .elementor-element.elementor-element-a5df34a .elementor-widget:not(:last-child){
        margin-bottom: 0px!important;
    }
}/* End custom CSS */